.dialogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dialogs__items {
    padding: 10px;
}


.dialog {
    color: red;
}

.active {
    color: gold;
}


.messages {
    padding: 10px;
}


.message {

}